<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!--  dashboard --> 
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
        
        <title>myRisk</title>
        
        <style type="text/css">
            div.bar {
                display: inline-block;
                width: 20px;
                height: 75px;   /* We'll override this later */
                background-color: teal;
                margin-right: 2px;
            }
            body {
                background-color: #E5E5E5;
            }
            .profile-userpic img {
            float: none;
            margin: 0 auto;
            width: 50%;
            height: 50%;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
          }
          .profile-usertitle-name {
            color: #5a7391;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 7px;
            text-align: center;
          }

          .profile-usertitle-job {
            text-transform: uppercase;
            text-align: center;
            color: #5b9bd1;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
          }
          .profile-sidebar {
            padding: 20px 0 10px 0;
          }
       </style>
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">

      <!-- Navbar
      ================================================== --> 
       <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/vizDNA/">myRisk </a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/vizDNA/">Home</a></li>
                <li><a href="/vizDNA/about">About</a></li>
                <li><a href="/vizDNA/contact">Contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/vizDNA/risk">Start Your Risk Assessment</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <!-- Page header 
         ================================================== --> 
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="page-header">
              <h1>Contact <small><br>our  <strong>{{ boldmessage }}</strong></small></h1>
          </div>
          <div class="profile-sidebar">
          <table id="t1">
            <tr> 
              <td>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/static/images/Nasim.jpg" class="img-responsive" alt=""> 
                </div>
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Nasim Sanati
                  </div>
                  <div class="profile-usertitle-job">
                    Developer
                    </br>
                    sanati@ohsu.edu
                  </div>
                </div>
                </td>
                <td>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/static/images/Nasim.jpg" class="img-responsive" alt=""> 
                </div>
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Melissa Yan
                  </div>
                  <div class="profile-usertitle-job">
                    Developer</br>
                    yanm@ohsu.edu
                  </div>
                </div>
                </td>
                <td>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/static/images/Nasim.jpg" class="img-responsive" alt=""> 
                </div>
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Brandon Keibler
                  </div>
                  <div class="profile-usertitle-job">
                    Developer
                    </br>
                    keibler@ohsu.edu
                  </div>
                </div>
                </td>
              </tr>
              <tr>
                <td>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/static/images/Nasim.jpg" class="img-responsive" alt=""> 
                </div>
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Ravi Madhira
                  </div>
                  <div class="profile-usertitle-job">
                    Developer
                    </br>
                    madhira@ohsu.edu
                  </div>
                </div>
                </td>
                <td>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/static/images/Nasim.jpg" class="img-responsive" alt=""> 
                </div>
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Some lady
                  </div>
                  <div class="profile-usertitle-job">
                    Counselor
                    </br>
                    somelady@ohsu.edu
                  </div>
                </div>
                </td>
                <td>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                  <img src="/static/images/Nasim.jpg" class="img-responsive" alt=""> 
                </div>
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                  <div class="profile-usertitle-name">
                    Some guy
                  </div>
                  <div class="profile-usertitle-job">
                    Counselor
                    </br>
                    someguy@ohsu.edu
                  </div>
                </div>
                </td>
              </tr>
          </div>
        </div>
    

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- d3 JavaScript library-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        
    </body>
</html>



